[Unit]
Description=Puma Redmine Service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/usr/local/bin/bundle exec puma --config config/puma.rb
ExecStop=/usr/local/bin/bundle exec pumactl stop

[Install]
WantedBy=multi-user.target
